.dialog {
    position: fixed;
    top: 30%;
    left: 40%;
    right: 40%;
    bottom: 50%;
    background-color: white;
    box-shadow: 0 0 5px 1px #8a8886;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.title {
    font-size: 1.2em;
    margin-left: 8px;
    border-bottom: 1px solid black;
}

.menu {
    display: flex;
}

.menu-item {
    background: linear-gradient(to right, #D32F2F, #d39a49);
    border: #b5b5b5 solid 1px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-text {
    color: white;
}


.button-container {
    display: flex;
    width: 12em;
    justify-content: space-around;
}

.back-button {
    text-decoration: none;
    background-color: #238810;
    color: white;
    height: 2em;
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.back-button:hover {
    background-color: #2ca210;
    cursor: pointer;
}

.button {
    background-color: #D32F2F;
    color: white;
    height: 2em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.button:hover {
    background-color: #f73636;
    cursor: pointer;
}

.elements-container {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin-top: 10px;
}

.mso-normal {
    background-color: #0a66d3;
    color: white;
    height: 2em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.form-container {
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
}

.p-button-container {
    margin-left: 8px;
}

.p-container {
    display: flex;
    width: 50vm;
}

.p-element {
    opacity: 0;
    margin-left: 8px;
}

.image {
    height: 100px;
    width: 110px;
    position: relative;
}

.picture-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 8px;
}
